<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reactlibrary">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        >
        <service
            android:name="com.reactlibrary.HeadLessJsService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.reactlibrary.HeadLessJsEventService">
        </service>
        <receiver
            android:permission="android.permission.ACCESS_NETWORK_STATE"
            android:name="com.reactlibrary.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
  